{% extends "layout.html" %}

{% block header %}
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                  <li class="nav-item">
                        <a class="nav-link active" href="/">首页 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">关于</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">联系</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('service') }}">服务</a>
                  </li>
            </ul>
        </nav>
        <h3 class="text-muted">Akaros</h3>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron">
        <h1 class="display-3">Hello!</h1>
        <p class="lead">Welcome to my little site, a small weekend project that involed learning Flask(?) and PaaS or deploying to the cloud. Because of how simplistic it turned out, I decided to make it my personal page. Below are somethings about me.</p>
        <p><a class="btn btn-outline-info" href="#" role="button">Skip to Resume</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Programming</h4>
          <p>This is what my life revolves around. I chose this path because I liked to be creative and I like challenges. Programming lets me experience both of them. Most of the languages I've learned till this point is out of curiosity rather than obligation.</p>

          <h4>Goals</h4>
          <p>My short term goal is to become a very good Full Stack Developer. One that people can feel happy to work with. As for long term goal, I want to design my very own Video Game which can be enjoyed by a specific demographic.</p>

          <h4>Inspiration</h4>
          <p>In life, I take inspiration from many things. Well designed minimalist UI's and Video Games like Dark Souls are my primary sources. Music is another that inspires me to get stuff done.</p>
        </div>

        <div class="col-lg-6">
          <h4>Video Games</h4>
          <p>Programming and Video Games are my true passion in life. My long term goal is to merge the two. As of now it is just my source of inspiration and an awesome stress reliever. Dark Souls is my favourite.</p>

          <h4>About Me</h4>
          <p>If I had to describe me in a few words, I'd go with Enthusiast, Determined, Fun-loving and generally curious person. I like to get stuff done and like people with a similar mindset. I'm easy to talk to and a good listener.</p>

          <h4>Resume</h4>
          <p>Because of this being my personal site, I wanted to have my Resume on it as it might potentially open up new doors for me. I hope everything else wasn't too boring if this is why you came here.</p>
        </div>
      </div>
{% endblock %}
